body {
width: 100%;
height: 100%;
}

::selection {
    background: #e8ff3ba3;
    }

ul li::marker {
    color: red;
    font-size: 1.5em;
  }
:root {
    --color-back: #cccccc;
    --color-search: #40dfff;
      
}

.header {
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 2;
}

.header__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 100%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 5px 7px -5px var(--color-search);
    

}

.logo_photo {
    width: 150px;
    height: auto;
}
.logo_photo:first-child {
    width: 78px;
}

/* SearchBar------------- */
.search {
    width: 600px;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid var(--color-search);
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #00B4CC;
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid var(--color-search);
    background: var(--color-search);
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
  }

/* Icons------------------------- */
.fa-solid {
    color: #04AA6D;
}
.fa-solid:hover {
    color: rgba(2, 54, 2, 0.774);
    cursor: pointer;
}
span .fa-solid {
    margin-left: 10px;
}

.fa-bell {
    margin-right: 15px;
}

/* Drop-menu----------------------------- */
.drop {
    position: relative;
}
.drop__reg {
    display: none;
    position: absolute;
    overflow: hidden;
    right: 0;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 4px 0px var(--color-back);
    border-radius: 5px;
}
.drop__menu {
    padding: 10px 20px;
    white-space: nowrap;
    cursor: pointer;
}
.drop__menu:last-child, .fa-person-through-window {
    color: red;
}
.drop__menu:hover {
 background-color: var(--color-back);
}

.drop__menu i {
    margin-right: 5px;
   }
     
.dropdown__input {
    display: none;
}
.divide {
    padding: 0;
    border-bottom: 1px solid var(--color-back);
}

.dropdown__input:checked ~ .drop__reg {
    display: block;
}
